/*=======Header=======*/
nav {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: .6s ease;
}

nav.sticky {
  background: rgba(#255, #255, #255, 0.1);
  box-shadow: var(--box-shadow);
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 6s ease;
}

nav.sticky .nav-bar {
  height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
  color: var(--first-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-items a{
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav-items a.active{
  color: var(--second-color);
}

.nav-items a:not(:last-child) {
  margin-right: 50px;
}

.nav-items a:hover {
  color: var(--second-color);
}

.nav-menu-btn {
  display: none;
}

@media screen and (max-width: 1070px) {
  .navigation{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--transparent-color-01);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
  }

  .navigation.active{
    visibility: visible;
    opacity: 1;
}
  .nav-items{
    position: relative;
    background: var(--modal-bg-color);
    width: 600px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .3s ease;
}


.navigation.active .nav-items{
    transform: translateY(0);
}

.nav-close-btn{
    position: absolute;
    background: url(../assets/close-btn.png) no-repeat;
    filter: var(--color-filter);
    background-size: 12px;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

  .nav-menu-btn {
    background: url(../assets/menu-btn.png) no-repeat;
    filter: var(--color-filter);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
  }
}